.header{
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 95;

	&.header--scrolled{
		box-shadow: 0 1px 0 0 rgba(12, 57, 83, 0.09);
	}
}

.header__inner{
	background: #FFF;
}

.header__container{
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 70px;
	padding: 15px 0;
}

.header__logo-wrap{
	width: 264px;
}

.header__logo{
	display: block;
	width: 152px;
	height: 40px;
	img{
		width: 100%;
		height: 100%;
		display: block;
		object-fit: contain;
	}
}

.header__hamburger{
	display: flex;
	align-items: center;
	justify-content: center;

	&:hover i{
		opacity: 1;
	}
}

.header__nav{
	display: flex;
	align-items: center;
	column-gap: 40px;
	position: relative;

	i{
		transition: all .3s;
		opacity: 0.5;
	}
}

.header__menu{
	& > ul{
		display: flex;
		align-items: center;
		column-gap: 40px;
		position: relative;
	}

	.menu-item{
		padding: 10px 0;

		a{
			color: $black50;
			font-family: $albert;
			font-size: 14px;
			font-weight: 500;
			line-height: 14px;
			transition: all .3s;
		}

		&:hover a{
			color: $black;
		}
	}

	.menu-item-has-children{
		& > a{
			position: relative;
			display: flex;
			align-items: center;
		}

		& > a:after{
			content: '';
			display: block;
			width: 24px;
			height: 24px;
			background: url('../img/icons/arrow-dropdown-icon.svg') center center no-repeat;
			background-size: 100%;
			margin-left: 5px;
			transition: all .3s;
		}
	}

	.sub-menu{
		display: none;
		position: absolute;
		left: -30px;
		top: 100%;
		width: 373px;
		flex-shrink: 0;
		padding: 25px 30px 15px 30px;
		background: #FFF;
		border-radius: 15px;
		filter: drop-shadow(5px 20px 50px rgba(17, 33, 53, 0.16));

		.menu-item{
			padding: 0;
			margin-bottom: 15px;

			a{
				color: #000;
				font-family: $albert;
				font-size: 14px;
				font-weight: 500;
				line-height: 14px;
			}

			&:hover a{
				color: $dark-green;
			}
		}
	}

	.bl-open .sub-menu{
		display: block;
		z-index: 10;
	}

	.bl-open{
		& > a:after{
			transform: rotate(180deg);
		}
	}
}

.header__search{
	position: relative;

	.header__search-close,
	.header__search-btn{
		display: flex;
		align-items: center;
		justify-content: center;
		transition: all .3s;

		i{
			transition: all .3s;
		}

		&:hover i{
			opacity: 1;
		}
	}

	.header__search-close{
		position: absolute;
		z-index: 10;
		right: 8px;
		top: 8px;
	}

	form{
		display: none;
		position: absolute;
		top: calc(50% - 20px);
		right: -8px;
	}

	input{
		outline: none!important;
		width: 24px;
		height: 40px;
		padding-left: 44px;
		padding-right: 34px;
		border: none;
		border-radius: 10px;
		background: #EDF3F5 url("../img/icons/search-icon.svg") 15px 8px no-repeat;
		background-size: 24px 24px;

		color: $black;
		font-family: $albert;
		font-size: 14px;
		font-weight: 500;
		line-height: 14px;

		&::placeholder{
			color: $black50;
			font-family: $albert;
			font-size: 14px;
			font-weight: 500;
			line-height: 14px;
		}
	}

	&.bl-open form{
		display: block;
		input{
			animation: .4s ease grow forwards;
		}
	}
}

@keyframes grow {
	0% {
		width: 24px;
	}
	100% {
		width: 480px;
	}
}

.header__actions{
	display: flex;
	align-items: center;
	transition: all .3s;
}

.header__login-button{
	display: flex;
	align-items: center;
	cursor: pointer;
	padding: 10px 0;

	span{
		margin: 0 5px;
		color: $black;
		font-family: $albert;
		font-size: 14px;
		font-weight: 500;
		line-height: 14px;
	}

	.login-icon{
		opacity: 0.5;
		transition: all .3s;
	}

	.arrow-down-icon{
		transition: all .3s;
	}
}

.bl-open .header__login-button .login-icon{
	opacity: 1;
}

.header__login-dropdown{
	display: none;
	position: absolute;
	top: 100%;
	left: -20px;
	min-width: 134px;
	background: #FFF;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 5px 20px 50px rgba(17, 33, 53, 0.16);
}

.header__login-dropdown-item{
	display: flex;
	align-items: center;
	color: $black;
	font-family: $albert;
	font-size: 14px;
	font-weight: 500;
	line-height: 14px;
	padding: 5px 10px;
	border-radius: 5px;
	transition: all .3s;

	&:hover{
		background: #EDF3F5;
		color: $black;
	}

	i{
		margin-right: 5px;
	}
}

.header__login{
	margin-right: 40px;
	position: relative;

	&.bl-open{
		.header__login-button .arrow-down-icon{
			transform: rotate(180deg);
		}

		.header__login-dropdown{
			display: block;
		}
	}
}

.header__hidden{
	display: none;
	padding: 105px 0 85px;
	border-radius: 0 0 30px 30px;
	background: #FFF;
	position: relative;
	z-index: 95;
}

.header__hidden-top{
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 120px;
}

.header__hidden-menu1 ul{
	display: flex;
	align-items: center;
	column-gap: 79px;

	.menu-item{
		a{
			color: $black;
			font-family: $albert;
			font-size: 28px;
			font-weight: 600;
			line-height: 31px;
			letter-spacing: -1px;
			transition: all .3s;
		}

		&:hover a{
			color: $dark-green;
		}
	}
}

.header__hidden-support{
	display: inline-flex;
	align-items: center;

	span{
		color: $black50;
		font-family: $albert;
		font-size: 12px;
		font-weight: 500;
		line-height: 12px;
		margin-right: 20px;
	}

	i{
		margin-right: 5px;
		transition: all .3s;
	}

	a{
		display: inline-flex;
		align-items: center;
		color: $black;
		font-family: $albert;
		font-size: 14px;
		font-weight: 500;
		line-height: 14px;

		&:hover{
			color: $dark-green;

			i.clock-icon{
				background-image: url('../img/icons/24h.svg');
			}
		}
	}
}

.header__hidden-bot{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
}

.header__policy-menu{
	ul{
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		column-gap: 40px;
	}

	.menu-item{
		a{
			color: $black;
			font-family: $albert;
			font-size: 12px;
			font-weight: 500;
			line-height: 12px;
			transition: all .3s;
			opacity: 0.9;
		}

		&:hover a{
			color: $dark-green;
		}
	}
}

.header__hamburger--mobile{
	display: none;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	background: #EDF3F5;
	border-radius: 10px;
	position: relative;
}

.header__social-menu{
	ul{
		display: flex;
		align-items: center;
		column-gap: 24px;
	}

	a{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 24px;
		height: 24px;
		background-size: 100%;
		background-position: center center;
		background-repeat: no-repeat;
		transition: all .3s;
		opacity: 0.5;

		&:hover{
			opacity: 1;
		}
	}

	.linkedin a{
		background-image: url('../img/icons/linkedin-icon.svg');
	}
	.twitter a{
		background-image: url('../img/icons/twitter-icon.svg');
	}
	.facebook a{
		background-image: url('../img/icons/facebook-icon.svg');
	}
	.instagram a{
		background-image: url('../img/icons/instagram-icon.svg');
	}
}

.header__hidden-mob{
	display: none;
}



@media ( $br_point_small_laptop ){
	.header__logo-wrap{
		width: auto;
	}

	.header__login{
		margin-right: 20px;
	}

	.header__hidden{
		padding: 80px 0 50px;
	}

	.header__hidden-menu1 ul .menu-item a{
		font-size: 24px;
	}

	.header__hidden-menu1 ul{
		column-gap: 40px;
	}
}





@media ( $br_point_tablet ){
	@keyframes grow {
		0% {
			width: 24px;
		}
		100% {
			width: 430px;
		}
	}

	.header__logo{
		width: 115px;
		height: 30px;
	}

	.header__menu > ul{
		column-gap: 0;

		li:not(:last-child){
			margin-right: 20px;
		}
	}

	.header__login{
		margin-right: 10px;
	}

	.header__login-button .arrow-down-icon,
	.header__login-button span{
		display: none;
	}

	.header__login-button{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 40px;
		height: 40px;
		background: #EDF3F5;
		border-radius: 10px;

		.login-icon{
			opacity: 1;
		}
	}

	.header__actions-btn{
		width: 40px;
		height: 40px;
		padding: 0;
		font-size: 0;
		background-image: url('../img/icons/contact-button-icon.svg');
		background-position: center center;

		&:hover{
			background-color: $light-green;
			background-image: url('../img/icons/contact-button-icon.svg');
		}
	}

	.header__login-dropdown{
		left: auto;
		right: -10px;
	}

	.header__hidden {
		padding: 50px 0 50px;
	}

	.header__hidden-top{
		margin-bottom: 60px;
	}

	.header__hidden-menu1 ul{
		column-gap: 0;

		li:not(:last-child){
			margin-right: 20px;
		}

		.menu-item a {
			font-size: 20px;
		}
	}

	.header__policy-menu ul{
		column-gap: 0;

		li:not(:last-child){
			margin-right: 20px;
		}
	}

	.header__hidden-support span{
		margin-right: 10px;
	}
}





@media ( $br_point_phone ){
	.header + div,
	.header + section{
		margin-top: 80px;
	}

	.header.bl-open .header__actions{
		opacity: 0;
		z-index: -1;
	}

	.header__container {
		height: 80px;
		padding: 20px 0;
	}

	.header__nav{
		display: none;
	}

	.header__left{
		display: flex;
		align-items: center;
	}

	.header__hamburger--mobile{
		display: flex;
		margin-right: 20px;
	}

	.header__hidden-mob{
		display: block;
	}

	.header__hidden {
		padding: 0 0 40px;
		overflow-y: auto;
		max-height: calc(100vh - 80px);
	}

	.header__search{
		margin-bottom: 40px;

		form{
			display: block;
			position: relative;
			top: auto;
			right: auto;
		}

		input{
			width: 100%;
			padding-left: 50%;
			padding-right: 10px;
			background: #EDF3F5 url("../img/icons/search-icon.svg") calc(50% - 15px) 8px no-repeat;
			transition: all .3s;
		}

		input:focus{
			padding-left: 44px;
			background: #EDF3F5 url("../img/icons/search-icon.svg") 15px 8px no-repeat;
		}

		&.bl-open form{
			input{
				animation: none;
			}
		}
	}

	.header__menu > ul {
		display: block;
	}

	.header__menu .menu-item a{
		color: $black;
	}

	.header__menu .menu-item-has-children > a{
		color: $black50;
		margin-bottom: 25px;

		&:after{
			display: none;
		}
	}

	.header__menu .sub-menu{
		display: block;
		position: relative;
		top: auto;
		left: auto;
		right: auto;
		width: 100%;
		padding: 0;
		filter: none;
		margin-bottom: 40px;

		.menu-item:last-child{
			margin-bottom: 0;
		}
	}

	.header__menu > ul li:not(:last-child) {
		margin-right: 0;
	}

	.header__menu .menu-item{
		padding: 0;
		margin-bottom: 25px;
	}

	.header__menu .sub-menu .menu-item{
		margin-bottom: 25px;
	}

	.header__login-dropdown{
		top: calc(100% + 8px);
	}

	.header__hidden-top{
		display: block;
		margin-bottom: 0;
	}

	.header__hidden-menu1 {
		margin-bottom: 40px;
	}

	.header__hidden-menu1 ul{
		display: block;

		li:not(:last-child) {
			margin-right: 0;
			margin-bottom: 25px;
		}

		.menu-item a {
			font-family: $albert;
			font-size: 14px;
			font-weight: 500;
			line-height: 14px;
			letter-spacing: 0;
		}
	}

	.header__hidden-support{
		width: 100%;
		margin-bottom: 40px;

		span{
			display: none;
		}

		a{
			width: 100%;
			height: 40px;
			justify-content: center;
			text-align: center;
			background: $light-green;
			border-radius: 10px;
			font-size: 14px;
			font-weight: 500;
			line-height: 14px;
			color: $dark-green;
		}

		.clock-icon{
			background: url('../img/icons/24h.svg');
		}
	}

	.header__hidden-bot{
		display: block;
	}

	.header__policy-menu{
		margin-bottom: 40px;

		ul li:not(:last-child) {
			margin-right: 60px;
		}

		.menu-item a{
			opacity: 1;
			font-size: 14px;
			font-weight: 500;
			line-height: 14px;
		}
	}

	.header__social-menu a{
		opacity: 1;
	}
}