.emr{
	padding: 60px 0;
	background: #fff;
}

.emr__description{
	max-width: 796px;
	margin-left: auto;
	margin-right: auto;
	color: $black70;
	text-align: center;
	font-family: $albert;
	font-size: 24px;
	font-weight: 500;
	line-height: 30px;
	letter-spacing: -0.5px;

	p{
		color: $black70;
		text-align: center;
		font-family: $albert;
		font-size: 24px;
		font-weight: 500;
		line-height: 30px;
		letter-spacing: -0.5px;
	}
}

.emr__slider {
	width: 100vw;
	height: 95px;
	background: #fff;
	margin: 60px auto auto;
	overflow: hidden;
	position: relative;

	&::before,
	&::after {
		background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
		content: "";
		height: 95px;
		position: absolute;
		width: 200px;
		z-index: 2;
	}

	&::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}

	&::before {
		left: 0;
		top: 0;
	}
}

.emr__slider-track {
	display: flex;
	overflow: hidden;
	user-select: none;
}

.emr__slider-part{
	display: flex;
	align-items: center;
}

.emr__marquee {
	animation: scroll 80s linear infinite;
}

@keyframes scroll {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-100%);
	}
}

.emr__slide {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	height: 95px;
	width: 200px;
	border-radius: 20px;
	background: #F3FCFE;
	margin: 0 20px;

	img{
		display: block;
		max-width: 180px;
		width: 100%;
		height: 100%;
		object-fit: contain;
		margin-left: auto;
		margin-right: auto;
	}
}

.emr__slider--mobile{
	display: none;
}


@media ( $br_point_tablet ){
	.emr__slider {
		&::before,
		&::after {
			width: 80px;
		}
	}
}



@media ( $br_point_phone ){
	.emr{
		padding: 35px 0;
	}

	.emr__title{
		margin-bottom: 20px;
	}

	.emr__description{
		font-size: 16px;
		font-weight: 500;
		line-height: 22px;
		letter-spacing: -0.444px;
		padding-left: 10px;
		padding-right: 10px;

		p{
			font-size: 16px;
			font-weight: 500;
			line-height: 22px;
			letter-spacing: -0.444px;
		}
	}

	.emr__bottom{
		padding: 0 10px;
	}

	.emr__slider{
		display: none!important;
	}

	.emr__slider--mobile{
		display: block;
		margin: 30px auto auto;
	}

	.emr__slide-mob{
		display: flex!important;
		justify-content: space-between;
		flex-wrap: wrap;
		height: 100% !important;

		.emr__slide{
			width: calc(50% - 5px);
			height: 82px;
			margin: 0;
			margin-bottom: 10px;
			border-radius: 15px;
		}
	}
}