.insurance{
	padding: 60px 0 20px;
	background: #fff;
}

.insurance__description{
	color: $black70;
	text-align: center;
	font-family: $albert;
	font-size: 24px;
	font-weight: 500;
	line-height: 30px;
	letter-spacing: -0.5px;

	p{
		color: $black70;
		text-align: center;
		font-family: $albert;
		font-size: 24px;
		font-weight: 500;
		line-height: 30px;
		letter-spacing: -0.5px;
	}

	max-width: 720px;
	margin-left: auto;
	margin-right: auto;
}

.insurance__logos{
	margin-top: 60px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

.insurance__logos-slide{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	column-gap: 40px;
}

.insurance__logo{
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 20px;
	background: #F3FCFE;
	padding: 10px 20px;
	width: calc(100% / 6 - 34px);
	height: 95px;
	margin-bottom: 40px;

	img{
		display: block;
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}

.insurance--left {
	.insurance__title {
		text-align: left;
		max-width: 650px;
	}

	.insurance__description {
		width: 100%;
		max-width: 100%;
		text-align: left;
		margin-left: 0;

		p{
			text-align: left;
		}
	}

	.insurance__logos-slide,
	.insurance__logos {
		justify-content: flex-start;
	}
}





@media ( $br_point_tablet ){
	.insurance__logo{
		width: calc(100% / 3 - 27px);
	}
}




@media ( $br_point_phone ){
	.insurance{
		padding: 35px 0 35px;
	}

	.insurance__title{
		margin-bottom: 20px;
	}

	.insurance__logos-slide{
		display: flex!important;
		column-gap: 0;
	}

	.insurance__logo{
		width: calc(50% - 5px);
		margin-bottom: 10px;

		img {
			max-width: 140px;
		}
	}

	.insurance__description{
		font-size: 16px;
		font-weight: 500;
		line-height: 22px;
		letter-spacing: -0.444px;

		p{
			font-size: 16px;
			font-weight: 500;
			line-height: 22px;
			letter-spacing: -0.444px;
		}
	}

	.insurance__logos{
		margin-top: 40px;
	}

	.insurance--left {
		.insurance__title {
			text-align: center;
			max-width: 650px;
		}

		.insurance__description {
			width: 100%;
			max-width: 100%;
			text-align: center;
			margin-left: 0;
			padding-left: 10px;
			padding-right: 10px;

			p{
				text-align: center;
			}
		}

		.insurance__logos-slide,
		.insurance__logos {
			justify-content: space-between;
		}
	}
}


