*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Albert Sans", sans-serif;
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  position: relative;
  background: #fff;
  margin: 0;
  width: 100vw;
  overflow-x: hidden;
}

body.bl-open {
  overflow: hidden;
}

.body-overlay {
  display: none;
  width: 100vw;
  height: 100vh;
  background: #000000;
  opacity: 0.5;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 90;
}

select {
  display: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #2EA170;
  text-underline-offset: 3px;
}

a:hover {
  color: #1A764F;
}

img {
  display: block;
  width: 100%;
}

.wrapper {
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.section-title {
  color: #000000;
  text-align: center;
  font-family: "Albert Sans", sans-serif;
  font-size: 54px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: -2px;
  margin-bottom: 30px;
}

/* buttons */

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 100%;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 40px;
  border-radius: 10px;
  background: #D3F5E7;
  padding-left: 20px;
  padding-right: 20px;
  color: #2EA170;
  font-family: "Albert Sans", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.btn:hover {
  background: #17C47B;
  color: #fff;
}

.btn--green {
  background: #17C47B;
  color: #fff;
}

.btn--green:hover {
  color: #fff;
  background: #2EA170;
}

.btn--big {
  border-radius: 15px;
  height: 60px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: -0.5px;
}

.help-btn {
  position: fixed;
  left: 40px;
  top: 90%;
  padding-left: 15px;
  padding-right: 15px;
  z-index: 95;
}

.help-btn svg {
  margin-right: 5px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.help-btn svg .strk {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.help-btn:hover svg .strk {
  stroke: #fff;
}

/* section margin */

.header + div,
.header + section {
  margin-top: 70px;
}

/* slick */

.slick-dots {
  bottom: -36px !important;
}

.slick-dots li {
  margin: 0 !important;
}

.slick-dots li button {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
}

.slick-dots li button:before {
  position: relative !important;
  left: auto !important;
  top: auto !important;
  right: auto !important;
  bottom: auto !important;
  font-size: 0 !important;
  display: block !important;
  width: 5px !important;
  height: 5px !important;
  border-radius: 50% !important;
  opacity: 1 !important;
  background: #fff !important;
  border: 1px solid #B3B3B3 !important;
}

.slick-dots li.slick-active button:before {
  background: #0FBCED !important;
  border: 1px solid #0FBCED !important;
  opacity: 1 !important;
}

.icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.hamburger-icon {
  background-image: url("../img/icons/menu-icon.svg");
}

.close-icon {
  background-image: url("../img/icons/close-menu-icon.svg");
}

.search-icon {
  background-image: url("../img/icons/search-icon.svg");
}

.login-icon {
  background-image: url("../img/icons/login-icon.svg");
}

.arrow-down-icon {
  background-image: url("../img/icons/arrow-dropdown-icon.svg");
}

.patient-icon {
  background-image: url("../img/icons/patient-icon.svg");
}

.billimd-icon {
  background-image: url("../img/icons/billimd-icon.svg");
}

.clock-icon {
  background-image: url("../img/icons/24h-dark-icon.svg");
}

.clock-green-icon {
  background-image: url("../img/icons/24h.svg");
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 95;
}

.header .header--scrolled {
  -webkit-box-shadow: 0 1px 0 0 rgba(12, 57, 83, 0.09);
  box-shadow: 0 1px 0 0 rgba(12, 57, 83, 0.09);
}

.header__inner {
  background: #FFF;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 70px;
  padding: 15px 0;
}

.header__logo-wrap {
  width: 264px;
}

.header__logo {
  display: block;
  width: 152px;
  height: 40px;
}

.header__logo img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: contain;
  object-fit: contain;
}

.header__hamburger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 40px;
  -moz-column-gap: 40px;
  column-gap: 40px;
  position: relative;
}

.header__nav i {
  opacity: 0.5;
}

.header__menu > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 40px;
  -moz-column-gap: 40px;
  column-gap: 40px;
  position: relative;
}

.header__menu .menu-item {
  padding: 5px 0;
}

.header__menu .menu-item a {
  color: rgba(0, 0, 0, 0.5);
  font-family: "Albert Sans", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.header__menu .menu-item:hover a {
  color: #000000;
}

.header__menu .menu-item-has-children > a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__menu .menu-item-has-children > a:after {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background: url("../img/icons/arrow-dropdown-icon.svg") center center no-repeat;
  background-size: 100%;
  margin-left: 5px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.header__menu .sub-menu {
  display: none;
  position: absolute;
  left: -30px;
  top: calc(100% + 8px);
  width: 373px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding: 25px 30px 15px 30px;
  background: #FFF;
  border-radius: 15px;
  -webkit-filter: drop-shadow(5px 20px 50px rgba(17, 33, 53, 0.16));
  filter: drop-shadow(5px 20px 50px rgba(17, 33, 53, 0.16));
}

.header__menu .sub-menu .menu-item {
  padding: 0;
  margin-bottom: 15px;
}

.header__menu .sub-menu .menu-item a {
  color: #000;
  font-family: "Albert Sans", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
}

.header__menu .sub-menu .menu-item:hover a {
  color: #2EA170;
}

.header__menu .bl-open .sub-menu {
  display: block;
}

.header__menu .bl-open > a:after {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.header__search {
  position: relative;
}

.header__search .header__search-close,
.header__search .header__search-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.header__search .header__search-close {
  position: absolute;
  z-index: 10;
  right: 8px;
  top: 8px;
}

.header__search form {
  display: none;
  position: absolute;
  top: calc(50% - 20px);
  right: -8px;
}

.header__search input {
  outline: none !important;
  width: 24px;
  height: 40px;
  padding-left: 44px;
  padding-right: 34px;
  border: none;
  border-radius: 10px;
  background: #EDF3F5 url("../img/icons/search-icon.svg") 15px 8px no-repeat;
  background-size: 24px 24px;
  color: #000000;
  font-family: "Albert Sans", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
}

.header__search input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-family: "Albert Sans", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
}

.header__search input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-family: "Albert Sans", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
}

.header__search input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-family: "Albert Sans", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
}

.header__search input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-family: "Albert Sans", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
}

.header__search input::placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-family: "Albert Sans", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
}

.header__search.bl-open form {
  display: block;
}

.header__search.bl-open form input {
  -webkit-animation: 0.4s ease grow forwards;
  animation: 0.4s ease grow forwards;
}

@-webkit-keyframes grow {
  0% {
    width: 24px;
  }

  100% {
    width: 480px;
  }
}

@keyframes grow {
  0% {
    width: 24px;
  }

  100% {
    width: 480px;
  }
}

.header__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.header__login-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__login-button span {
  margin: 0 5px;
  color: #000000;
  font-family: "Albert Sans", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
}

.header__login-button .login-icon {
  opacity: 0.5;
}

.header__login-button .arrow-down-icon {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.header__login-dropdown {
  display: none;
  position: absolute;
  top: calc(100% + 8px);
  left: -20px;
  min-width: 134px;
  background: #FFF;
  padding: 10px;
  border-radius: 10px;
  -webkit-filter: drop-shadow(5px 20px 50px rgba(17, 33, 53, 0.16));
  filter: drop-shadow(5px 20px 50px rgba(17, 33, 53, 0.16));
}

.header__login-dropdown-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #000000;
  font-family: "Albert Sans", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  padding: 5px 10px;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.header__login-dropdown-item:hover {
  background: #EDF3F5;
}

.header__login-dropdown-item i {
  margin-right: 5px;
}

.header__login {
  margin-right: 40px;
  position: relative;
}

.header__login.bl-open .header__login-button .arrow-down-icon {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.header__login.bl-open .header__login-dropdown {
  display: block;
}

.header__hidden {
  display: none;
  padding: 105px 0 85px;
  border-radius: 0 0 30px 30px;
  background: #FFF;
  position: relative;
  z-index: 95;
}

.header__hidden-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 120px;
}

.header__hidden-menu1 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 79px;
  -moz-column-gap: 79px;
  column-gap: 79px;
}

.header__hidden-menu1 ul .menu-item a {
  color: #000000;
  font-family: "Albert Sans", sans-serif;
  font-size: 28px;
  font-weight: 600;
  line-height: 31px;
  letter-spacing: -1px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.header__hidden-menu1 ul .menu-item:hover a {
  color: #2EA170;
}

.header__hidden-support {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__hidden-support span {
  color: rgba(0, 0, 0, 0.5);
  font-family: "Albert Sans", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  margin-right: 20px;
}

.header__hidden-support i {
  margin-right: 5px;
}

.header__hidden-support a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #000000;
  font-family: "Albert Sans", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
}

.header__hidden-support a:hover {
  color: #2EA170;
}

.header__hidden-bot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header__policy-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-column-gap: 40px;
  -moz-column-gap: 40px;
  column-gap: 40px;
}

.header__policy-menu .menu-item a {
  color: #000000;
  font-family: "Albert Sans", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0.9;
}

.header__policy-menu .menu-item:hover a {
  color: #2EA170;
}

.header__hamburger--mobile {
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: #EDF3F5;
  border-radius: 10px;
  position: relative;
}

.header__social-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 24px;
  -moz-column-gap: 24px;
  column-gap: 24px;
}

.header__social-menu a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0.5;
}

.header__social-menu a:hover {
  opacity: 1;
}

.header__social-menu .linkedin a {
  background-image: url("../img/icons/linkedin-icon.svg");
}

.header__social-menu .twitter a {
  background-image: url("../img/icons/twitter-icon.svg");
}

.header__social-menu .facebook a {
  background-image: url("../img/icons/facebook-icon.svg");
}

.header__social-menu .instagram a {
  background-image: url("../img/icons/instagram-icon.svg");
}

.header__hidden-mob {
  display: none;
}

.hero {
  padding: 0 0 60px;
}

.hero__inner {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.hero__img {
  display: none;
}

.hero__content {
  padding-top: 280px;
  text-align: center;
}

.hero__title {
  max-width: 790px;
  color: #000000;
  text-align: center;
  font-family: "Albert Sans", sans-serif;
  font-size: 64px;
  font-weight: 600;
  line-height: 66px;
  letter-spacing: -2.5px;
  margin: 0 auto 20px auto;
}

.hero__text {
  max-width: 530px;
  margin-left: auto;
  margin-right: auto;
  color: #000000;
  text-align: center;
  font-family: "Albert Sans", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: -0.5px;
}

.hero__text p {
  color: #000000;
  text-align: center;
  font-family: "Albert Sans", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: -0.5px;
}

.hero__btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

.commitment {
  padding: 60px 0;
}

.commitment__inner {
  padding: 80px 20px 100px;
  background: #F3FCFE;
  -webkit-box-shadow: 0 1px 0 rgba(12, 57, 83, 0.09);
  box-shadow: 0 1px 0 rgba(12, 57, 83, 0.09);
  border-radius: 15px;
}

.commitment__image {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.commitment__image img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.commitment__title {
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
}

.commitment__description {
  color: rgba(0, 0, 0, 0.7);
  text-align: center;
  font-family: "Albert Sans", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: -0.5px;
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
}

.commitment__description p {
  color: #000000;
  text-align: center;
  font-family: "Albert Sans", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: -0.5px;
}

.emr {
  padding: 60px 0;
  background: #fff;
}

.emr__description {
  max-width: 796px;
  margin-left: auto;
  margin-right: auto;
  color: rgba(0, 0, 0, 0.7);
  text-align: center;
  font-family: "Albert Sans", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: -0.5px;
}

.emr__description p {
  color: #000000;
  text-align: center;
  font-family: "Albert Sans", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: -0.5px;
}

.erm__slider {
  width: 100%;
  height: 95px;
  background: #fff;
  margin: 60px auto auto;
  overflow: hidden;
  position: relative;
}

.erm__slider::before,
.erm__slider::after {
  background: -webkit-gradient(linear, left top, right top, from(rgb(255, 255, 255)), to(rgba(255, 255, 255, 0)));
  background: -o-linear-gradient(left, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to right, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 95px;
  position: absolute;
  width: 200px;
  z-index: 2;
}

.erm__slider::after {
  right: 0;
  top: 0;
  -webkit-transform: rotateZ(180deg);
  -ms-transform: rotate(180deg);
  transform: rotateZ(180deg);
}

.erm__slider::before {
  left: 0;
  top: 0;
}

.erm__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  height: 95px;
  width: 200px;
  border-radius: 20px;
  background: #F3FCFE;
  margin-right: 40px;
}

.erm__slide img {
  display: block;
  max-width: 180px;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  margin-left: auto;
  margin-right: auto;
}

.erm__slider-track {
  -webkit-animation: scroll 40s linear infinite;
  animation: scroll 40s linear infinite;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 5280px;
}

@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(-2200px);
    transform: translateX(-2200px);
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(-2200px);
    transform: translateX(-2200px);
  }
}

.erm__slider--mobile {
  display: none;
}

.services {
  padding: 60px 0;
  background: #fff;
}

.services__title {
  margin-bottom: 60px;
}

.services__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}

.services__items::-webkit-scrollbar {
  width: 0;
}

.services__items .slick-track {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.services__items .slick-slide {
  height: inherit !important;
}

.services__item {
  width: 360px;
  border-radius: 30px;
  -webkit-box-shadow: 0 1px 0 0 rgba(12, 57, 83, 0.09);
  box-shadow: 0 1px 0 0 rgba(12, 57, 83, 0.09);
  padding: 40px;
  margin-right: 40px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.services__item:nth-child(1) {
  margin-left: 80px;
}

.services__item:nth-child(1),
.services__item:nth-child(8n) {
  background: #F3FCFE;
}

.services__item:nth-child(2),
.services__item:nth-child(9n) {
  background: #FEFBF3;
}

.services__item:nth-child(3),
.services__item:nth-child(10n) {
  background: #FEF6F3;
}

.services__item:nth-child(4),
.services__item:nth-child(11n) {
  background: #F2FCF8;
}

.services__item:nth-child(5),
.services__item:nth-child(12n) {
  background: #EFF2FB;
}

.services__item:nth-child(6),
.services__item:nth-child(13n) {
  background: #F2EEFC;
}

.services__item:nth-child(7),
.services__item:nth-child(14n) {
  background: #FAEFF5;
}

.services__item-image {
  width: 100%;
  height: 200px;
  margin-bottom: 30px;
}

.services__item-image img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.services__item-title {
  color: #000000;
  font-family: "Albert Sans", sans-serif;
  font-size: 28px;
  font-weight: 600;
  line-height: 31px;
  letter-spacing: -1px;
  margin-bottom: 15px;
}

.services__item-description {
  color: #000000;
  font-family: "Albert Sans", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.5px;
}

.insurance {
  padding: 60px 0 20px;
  background: #fff;
}

.insurance__description {
  color: rgba(0, 0, 0, 0.7);
  text-align: center;
  font-family: "Albert Sans", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: -0.5px;
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
}

.insurance__description p {
  color: #000000;
  text-align: center;
  font-family: "Albert Sans", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: -0.5px;
}

.insurance__logos {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.insurance__logos-slide {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-column-gap: 40px;
  -moz-column-gap: 40px;
  column-gap: 40px;
}

.insurance__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 20px;
  background: #F3FCFE;
  padding: 10px;
  width: calc(16.6666666667% - 34px);
  height: 95px;
  margin-bottom: 40px;
}

.insurance__logo img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.testimonials {
  padding: 60px 0;
  background: #fff;
  width: 100%;
  overflow-x: hidden;
}

.testimonials__description {
  color: rgba(0, 0, 0, 0.7);
  text-align: center;
  font-family: "Albert Sans", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: -0.5px;
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
}

.testimonials__items {
  margin-top: 60px;
}

.testimonials__items .slick-track {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.testimonials__items .slick-slide {
  height: inherit !important;
}

.testimonials__item {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 500px;
  margin: 0 20px;
  padding: 42px 40px;
  border-radius: 30px;
  background: #F2FCF8;
  -webkit-box-shadow: 0 1px 0 0 rgba(12, 57, 83, 0.09);
  box-shadow: 0 1px 0 0 rgba(12, 57, 83, 0.09);
}

.testimonials__item-text {
  color: #000000;
  font-family: "Albert Sans", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.5px;
  margin-bottom: 25px;
}

.testimonials__item-text p {
  color: #000000;
  font-family: "Albert Sans", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.5px;
}

.testimonials__item-author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.testimonials__photo {
  width: 40px;
  height: 40px;
  margin-right: 15px;
}

.testimonials__photo img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 50%;
}

.testimonials__name {
  color: #000000;
  font-family: "Albert Sans", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  margin-bottom: 5px;
}

.testimonials__position {
  color: rgba(0, 0, 0, 0.5);
  font-family: "Albert Sans", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
}

.testimonials__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 60px;
}

.testimonials__pagination .slick-prev,
.testimonials__pagination .slick-next {
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  bottom: auto;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #17C47B;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.testimonials__pagination .slick-prev:hover,
.testimonials__pagination .slick-next:hover {
  background: #2EA170;
}

.testimonials__pagination .slick-prev:before,
.testimonials__pagination .slick-next:before {
  width: 24px;
  height: 24px;
  font-size: 0;
  opacity: 1;
  background: url("../img/icons/slider-to-left-icon.svg") center center no-repeat;
  background-size: 100%;
}

.testimonials__pagination .slick-prev {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

.testimonials__pagination .slick-dots {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  width: auto;
  position: relative;
  bottom: auto !important;
  margin: 0 35px;
}

.testimonials__pagination .slick-dots li {
  height: auto;
}

.testimonials__pagination .slick-dots li button {
  height: auto;
  padding: 0 5px;
}

.testimonials__pagination .slick-next {
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3;
}

.testimonials__pagination .slick-next:before {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.testimonials__pagination .slick-dots li.slick-active button:before {
  background: #17C47B !important;
  border: 1px solid #17C47B !important;
}

.blog-block {
  padding: 60px 0;
  background: #fff;
}

.blog-block__description {
  color: rgba(0, 0, 0, 0.7);
  text-align: center;
  font-family: "Albert Sans", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: -0.5px;
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
}

.blog-block__description p {
  color: #000000;
  text-align: center;
  font-family: "Albert Sans", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: -0.5px;
}

.blog-block__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 60px;
}

.blog-block__item {
  width: calc(33.3333333333% - 27px);
  border-radius: 30px;
  background: #F3FCFE;
  -webkit-box-shadow: 0 1px 0 0 rgba(12, 57, 83, 0.09);
  box-shadow: 0 1px 0 0 rgba(12, 57, 83, 0.09);
}

.blog-block__item:not(:last-child) {
  margin-right: 40px;
}

.blog-block__img {
  display: block;
  width: 100%;
  height: 280px;
}

.blog-block__img img {
  display: block;
  width: 100%;
  height: 100%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  -o-object-fit: cover;
  object-fit: cover;
}

.blog-block__item-bottom {
  padding: 30px 40px 40px;
}

.blog-block__item-bottom a,
.blog-block__item-bottom a:hover {
  text-decoration: none;
  color: #000000;
}

.blog-block__item-date {
  color: rgba(0, 0, 0, 0.5);
  font-family: "Albert Sans", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.5px;
  margin-bottom: 15px;
}

.blog-block__item-title {
  color: #000000;
  font-family: "Albert Sans", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: -1px;
  margin-bottom: 15px;
}

.blog-block__item-text {
  color: rgba(0, 0, 0, 0.7);
  font-family: "Albert Sans", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.5px;
}

.contact-us {
  padding: 60px 0;
  background: #fff;
}

.contact__inner {
  background: #F2FCF8;
  border-radius: 15px;
  padding: 80px 20px;
  -webkit-box-shadow: 0 1px 0 rgba(12, 57, 83, 0.09);
  box-shadow: 0 1px 0 rgba(12, 57, 83, 0.09);
}

.contact__description {
  color: rgba(0, 0, 0, 0.7);
  text-align: center;
  font-family: "Albert Sans", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: -0.5px;
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
}

.contact__description p {
  color: rgba(0, 0, 0, 0.7);
  text-align: center;
  font-family: "Albert Sans", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: -0.5px;
}

.contact__form {
  max-width: 680px;
  margin: 60px auto 0 auto;
}

.contact__form .wpcf7 {
  width: 100%;
}

.contact__form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
}

.contact__form .input-wrap {
  width: 100%;
  margin-bottom: 20px;
}

.contact__form .input-wrap:last-of-type {
  margin-bottom: 0;
}

.contact__form .input-wrap--half {
  width: calc(50% - 10px);
}

.contact__form input,
.contact__form textarea,
.contact__form .select2-selection {
  display: block;
  border-radius: 15px;
  background: #FFF;
  -webkit-box-shadow: 0 1px 0 0 rgba(12, 57, 83, 0.09);
  box-shadow: 0 1px 0 0 rgba(12, 57, 83, 0.09);
  width: 100%;
  height: 60px;
  border: 1px solid transparent;
  padding: 0 30px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  outline: none !important;
  color: #000000;
  font-family: "Albert Sans", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.5px;
}

.contact__form input::-webkit-input-placeholder,
.contact__form textarea::-webkit-input-placeholder,
.contact__form .select2-selection::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-family: "Albert Sans", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.5px;
}

.contact__form input::-moz-placeholder,
.contact__form textarea::-moz-placeholder,
.contact__form .select2-selection::-moz-placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-family: "Albert Sans", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.5px;
}

.contact__form input:-ms-input-placeholder,
.contact__form textarea:-ms-input-placeholder,
.contact__form .select2-selection:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-family: "Albert Sans", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.5px;
}

.contact__form input::-ms-input-placeholder,
.contact__form textarea::-ms-input-placeholder,
.contact__form .select2-selection::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-family: "Albert Sans", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.5px;
}

.contact__form input::placeholder,
.contact__form textarea::placeholder,
.contact__form .select2-selection::placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-family: "Albert Sans", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.5px;
}

.contact__form input:active,
.contact__form input:focus,
.contact__form textarea:active,
.contact__form textarea:focus,
.contact__form .select2-selection:active,
.contact__form .select2-selection:focus {
  border-color: #17C47B;
}

.contact__form .select2-selection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  padding-right: 45px;
}

.contact__form .select2-selection__arrow {
  display: block;
  width: 24px;
  height: 24px;
  background: url("../img/icons/arrow-dropdown-icon.svg") center center no-repeat;
  background-size: 100%;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  position: absolute;
  right: 20px;
}

.contact__form .select2-container--open .select2-selection {
  border-color: #17C47B;
}

.contact__form .select2-container--open .select2-selection .select2-selection__arrow {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.contact__form textarea {
  height: 160px;
  padding: 20px 30px;
}

.contact__form input.your-name {
  padding-left: calc(50% - 44px);
}

.contact__form input.your-name:focus {
  padding-left: 30px;
}

.contact__form input[type=submit] {
  background: #17C47B;
  color: #fff;
}

.contact__form input[type=submit]:hover {
  color: #fff;
  background: #2EA170;
  cursor: pointer;
}

.contact__form .wpcf7-spinner {
  display: block;
  margin: 10px auto 0 !important;
}

.contact__form .wpcf7-not-valid {
  border-color: #FF784E;
}

.contact__form .wpcf7-form-control-wrap {
  display: block;
  position: relative;
}

.contact__form .wpcf7-not-valid-tip {
  display: inline-block;
  padding: 3px 5px;
  border-radius: 8px;
  background: #FF784E;
  color: #FFF;
  font-family: "Albert Sans", sans-serif;
  font-size: 10px;
  font-weight: 500;
  line-height: 10px;
  position: absolute;
  left: 30px;
  bottom: -8px;
}

.contact__form textarea + .wpcf7-not-valid-tip {
  bottom: -3px;
}

.contact__form .wpcf7-response-output {
  margin: -20px auto 0 auto !important;
}

.select2-search .select2-search--dropdown,
.select2-search--hide {
  display: none !important;
}

.select2-dropdown {
  display: block;
  padding: 25px 30px 30px;
  background: #FFF;
  border-radius: 15px;
  -webkit-box-shadow: 5px 20px 50px rgba(17, 33, 53, 0.16);
  box-shadow: 5px 20px 50px rgba(17, 33, 53, 0.16);
}

.select2-results__option {
  color: #000000;
  font-family: "Albert Sans", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: -0.5px;
}

.select2-results__option:hover {
  color: #2EA170;
  cursor: pointer;
}

@media (max-width: 1300px) {
  .wrapper {
    max-width: 992px;
  }

  .header__logo-wrap {
    width: auto;
  }

  .header__login {
    margin-right: 20px;
  }

  .header__hidden {
    padding: 80px 0 50px;
  }

  .header__hidden-menu1 ul .menu-item a {
    font-size: 24px;
  }

  .header__hidden-menu1 ul {
    -webkit-column-gap: 40px;
    -moz-column-gap: 40px;
    column-gap: 40px;
  }

  .blog-block__img {
    height: 235px;
  }

  .blog-block__item-bottom {
    padding: 25px 30px 35px 30px;
  }

  .blog-block__item-title {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.5px;
    margin-bottom: 10px;
  }
}

@media (max-width: 1024px) {
  .wrapper {
    max-width: 728px;
  }

  .section-title {
    color: #000000;
    font-size: 34px;
    line-height: 36px;
    letter-spacing: -1.259px;
    margin-bottom: 25px;
  }

@-webkit-keyframes grow {
    0% {
      width: 24px;
    }

    100% {
      width: 430px;
    }
}

@keyframes grow {
    0% {
      width: 24px;
    }

    100% {
      width: 430px;
    }
}

  .header__logo {
    width: 115px;
    height: 30px;
  }

  .header__menu > ul {
    -webkit-column-gap: 0;
    -moz-column-gap: 0;
    column-gap: 0;
  }

  .header__menu > ul li:not(:last-child) {
    margin-right: 20px;
  }

  .header__login {
    margin-right: 10px;
  }

  .header__login-button .arrow-down-icon,
  .header__login-button span {
    display: none;
  }

  .header__login-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: #EDF3F5;
    border-radius: 10px;
  }

  .header__login-button .login-icon {
    opacity: 1;
  }

  .header__actions-btn {
    width: 40px;
    height: 40px;
    padding: 0;
    font-size: 0;
    background-image: url("../img/icons/contact-button-icon.svg");
    background-position: center center;
  }

  .header__actions-btn:hover {
    background-color: #D3F5E7;
    background-image: url("../img/icons/contact-button-icon.svg");
  }

  .header__login-dropdown {
    left: auto;
    right: -10px;
  }

  .header__hidden {
    padding: 50px 0 50px;
  }

  .header__hidden-top {
    margin-bottom: 60px;
  }

  .header__hidden-menu1 ul {
    -webkit-column-gap: 0;
    -moz-column-gap: 0;
    column-gap: 0;
  }

  .header__hidden-menu1 ul li:not(:last-child) {
    margin-right: 20px;
  }

  .header__hidden-menu1 ul .menu-item a {
    font-size: 20px;
  }

  .header__policy-menu ul {
    -webkit-column-gap: 0;
    -moz-column-gap: 0;
    column-gap: 0;
  }

  .header__policy-menu ul li:not(:last-child) {
    margin-right: 20px;
  }

  .header__hidden-support span {
    margin-right: 10px;
  }

  .hero__content {
    padding-top: 190px;
  }

  .hero__title {
    font-size: 50px;
    line-height: 54px;
  }

  .erm__slider::before,
  .erm__slider::after {
    width: 80px;
  }

  .insurance__logo {
    width: calc(33.3333333333% - 27px);
  }
}

@media (max-width: 768px) {
  .wrapper {
    max-width: 100%;
    padding-right: 10px;
    padding-left: 10px;
  }

  .section-title {
    padding-left: 10px;
    padding-right: 10px;
  }

  .help-btn {
    display: none;
  }

  .header + div,
  .header + section {
    margin-top: 80px;
  }

  .header + div,
  .header + section {
    margin-top: 80px;
  }

  .header.bl-open .header__actions {
    opacity: 0;
    z-index: -1;
  }

  .header__container {
    height: 80px;
    padding: 20px 0;
  }

  .header__nav {
    display: none;
  }

  .header__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .header__hamburger--mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 20px;
  }

  .header__hidden-mob {
    display: block;
  }

  .header__hidden {
    padding: 0 0 40px;
    overflow-y: auto;
    max-height: calc(100vh - 80px);
  }

  .header__search {
    margin-bottom: 40px;
  }

  .header__search form {
    display: block;
    position: relative;
    top: auto;
    right: auto;
  }

  .header__search input {
    width: 100%;
    padding-left: 50%;
    padding-right: 10px;
    background: #EDF3F5 url("../img/icons/search-icon.svg") calc(50% - 15px) 8px no-repeat;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }

  .header__search input:focus {
    padding-left: 44px;
    background: #EDF3F5 url("../img/icons/search-icon.svg") 15px 8px no-repeat;
  }

  .header__search.bl-open form input {
    -webkit-animation: none;
    animation: none;
  }

  .header__menu > ul {
    display: block;
  }

  .header__menu .menu-item a {
    color: #000000;
  }

  .header__menu .menu-item-has-children > a {
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 25px;
  }

  .header__menu .menu-item-has-children > a:after {
    display: none;
  }

  .header__menu .sub-menu {
    display: block;
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    width: 100%;
    padding: 0;
    -webkit-filter: none;
    filter: none;
    margin-bottom: 40px;
  }

  .header__menu .sub-menu .menu-item:last-child {
    margin-bottom: 0;
  }

  .header__menu > ul li:not(:last-child) {
    margin-right: 0;
  }

  .header__menu .menu-item {
    padding: 0;
    margin-bottom: 25px;
  }

  .header__menu .sub-menu .menu-item {
    margin-bottom: 25px;
  }

  .header__hidden-top {
    display: block;
    margin-bottom: 0;
  }

  .header__hidden-menu1 {
    margin-bottom: 40px;
  }

  .header__hidden-menu1 ul {
    display: block;
  }

  .header__hidden-menu1 ul li:not(:last-child) {
    margin-right: 0;
    margin-bottom: 25px;
  }

  .header__hidden-menu1 ul .menu-item a {
    font-family: "Albert Sans", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0;
  }

  .header__hidden-support {
    width: 100%;
    margin-bottom: 40px;
  }

  .header__hidden-support span {
    display: none;
  }

  .header__hidden-support a {
    width: 100%;
    height: 40px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    background: #D3F5E7;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    color: #2EA170;
  }

  .header__hidden-support .clock-icon {
    background: url("../img/icons/24h.svg");
  }

  .header__hidden-bot {
    display: block;
  }

  .header__policy-menu {
    margin-bottom: 40px;
  }

  .header__policy-menu ul li:not(:last-child) {
    margin-right: 60px;
  }

  .header__policy-menu .menu-item a {
    opacity: 1;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
  }

  .header__social-menu a {
    opacity: 1;
  }

  .hero {
    padding-top: 70px;
    padding-bottom: 35px;
  }

  .hero__inner {
    background: #fff !important;
  }

  .hero__content {
    padding-top: 20px;
  }

  .hero__title {
    font-size: 44px;
    font-weight: 600;
    line-height: 46px;
    letter-spacing: -1.5px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .hero__text {
    color: rgba(0, 0, 0, 0.7);
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.444px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .hero__text p {
    color: rgba(0, 0, 0, 0.7);
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.444px;
  }

  .hero__btn {
    margin-top: 25px;
  }

  .commitment {
    padding: 35px 0;
  }

  .commitment__inner {
    padding: 40px 30px 45px;
  }

  .commitment__image {
    max-width: 225px;
    margin-bottom: 30px;
  }

  .commitment__description {
    font-size: 18px;
    line-height: 28px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .commitment__description p {
    font-size: 18px;
    line-height: 28px;
  }

  .emr {
    padding: 35px 0;
  }

  .erm__description {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.444px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .erm__bottom {
    padding: 0 10px;
  }

  .erm__slider {
    display: none !important;
  }

  .erm__slider--mobile {
    display: block;
    margin: 30px auto auto;
  }

  .erm__slide-mob {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .erm__slide-mob .erm__slide {
    width: calc(50% - 5px);
    height: 82px;
    margin-right: 0;
    margin-bottom: 10px;
    border-radius: 15px;
  }

  .services__items {
    overflow: visible;
  }

  .services__item {
    width: calc(100vw - 40px) !important;
    margin-right: 5px;
    margin-left: 5px;
  }

  .services__item:nth-child(1) {
    margin-left: 5px;
  }

  .insurance {
    padding: 35px 0 35px;
  }

  .insurance__logos-slide {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-column-gap: 0;
    -moz-column-gap: 0;
    column-gap: 0;
  }

  .insurance__logo {
    width: calc(50% - 5px);
    margin-bottom: 10px;
  }

  .testimonials {
    padding: 35px 0;
  }

  .testimonials__description {
    padding-left: 22px;
    padding-right: 22px;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.444px;
  }

  .testimonials__description p {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.444px;
  }

  .testimonials__items {
    margin-top: 30px;
  }

  .testimonials__item {
    width: calc(100vw - 40px) !important;
    margin-right: 5px;
    margin-left: 5px;
    padding: 30px;
  }

  .testimonials__pagination {
    margin-top: 30px;
  }

  .testimonials__pagination .slick-prev,
  .testimonials__pagination .slick-next {
    display: none !important;
  }

  .testimonials__item-text {
    font-size: 18px;
    line-height: 28px;
  }

  .blog-block {
    padding: 35px 0;
  }

  .blog-block__description {
    padding-left: 22px;
    padding-right: 22px;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.444px;
  }

  .blog-block__description p {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.444px;
  }

  .blog-block__slider-wrap .wrapper {
    padding-left: 0;
    padding-right: 0;
    max-width: 100%;
  }

  .blog-block__items .slick-dots {
    bottom: -45px !important;
  }

  .blog-block__item {
    width: calc(100vw - 40px) !important;
    margin-right: 5px;
    margin-left: 5px;
  }

  .blog-block__item:not(:last-child) {
    margin-right: 5px;
  }

  .blog-block__item-date {
    margin-bottom: 10px;
  }

  .blog-block__item-title {
    margin-bottom: 10px;
  }

  .contact-us {
    padding: 35px 0;
  }

  .contact__inner {
    padding: 40px 30px;
  }

  .contact__title {
    margin-bottom: 25px;
  }

  .contact__description {
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
  }

  .contact__description p {
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
  }

  .contact__form {
    margin-top: 30px;
  }

  .contact__form .input-wrap {
    margin-bottom: 10px;
  }

  .contact__form .input-wrap--half {
    width: 100%;
  }

  .contact__form input.your-name {
    padding-left: 30px;
  }
}