.icon{
	display: inline-block;
	width: 24px;
	height: 24px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100%;
}

.hamburger-icon{
	background-image: url('../img/icons/menu-icon.svg');
}

.close-icon{
	background-image: url('../img/icons/close-menu-icon.svg');
}

.search-icon{
	background-image: url('../img/icons/search-icon.svg');
}

.login-icon{
	background-image: url('../img/icons/login-icon.svg');
}

.arrow-down-icon{
	background-image: url('../img/icons/arrow-dropdown-icon.svg');
}

.patient-icon{
	background-image: url('../img/icons/patient-icon.svg');
}

.billimd-icon{
	background-image: url('../img/icons/billimd-icon.svg');
}

.clock-icon{
	background-image: url('../img/icons/24h-dark-icon.svg');
}

.clock-green-icon{
	background-image: url('../img/icons/24h.svg');
}


